<h1>Page 1</h1>
<div ng-controller="demoCtrl" unsaved-warning-group>
    <form id="demoForm" name="demoForm" ng-submit="demoFormSubmit()" novalidate unsaved-warning-form>
        <input type="text" name="name" ng-model="user.name">
        <input type="text" name="email" ng-model="user.email">
        <button type="submit">Submit Form</button>
    </form>
    <button unsaved-warning-clear>Disregard Changes</button>

    <p>Is Form Dirty?: {{demoForm.$dirty}}</p>
    <p ng-show="message">Message: {{message}}</p>
</div>
